[defaults]
ssh_common_args = -o HostKeyAlgorithms=ssh-rsa -o KexAlgorithms=diffie-hellman-group14-sha1,diffie-hellman-group14-sha256, -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o Ciphers=aes256-cbc,hmac-sha2-256
host_key_checking = False
gathering = explicit
timeout = 120
action_warnings = False
system_warnings = False

# set hash_behaviour to merge
hash_behaviour = merge

# roles path
# roles_path = ./roles:/home/bootcamp20/network_automation/roles
roles_path = ./roles:/home/bootcamp20/network_automation/roles

# collections path (local to playbook)
collections_path = /home/bootcamp20/Documents/git/aci_evinf_build/collections

# log settings
#log_path = ./ansible.log

# inventory directory
inventory = ./inventory/host.yml

# the number of devices ansible will try to connect to at once
# default is 5.  Changed to 10 for performance and speed. Learning from Arista's Ansible Training
forks = 10

# filter plugins location
filter_plugins = ./filter_plugins
nocows = true

####  This is for testing purposes only.  Learned from Arista's Ansible Training

stdout_callback = default
result_format = yaml
# List of enabled callbacks. Many callbacks shipped with Ansible are not enabled by default
callbacks_enabled = profile_roles, profile_tasks, timer

[persistent_connection]
connect_timeout = 120
log_messages = false


[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o ConnectTimeout=60 -o UserKnownHostsFile=/dev/null
scp_if_ssh = True

# add light blue color to ansible output
[colors]
highlight = bright magenta
verbose = bright blue
warn = bright blue
error = bright red
debug = bright blue
deprecate = bright blue
skip = dark gray
unreachable = red
ok = bright green
#changed = bright yellow


